<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
<h1>Add an Author</h1>
<form action="addAuthor" method="post">
        {% csrf_token %}
    <p>First Name: <input type="text" name="firstname"></p>
    <p>Last Name: <input type="text" name="lastname"></p>
    <p>Notes: <input type="text" name="notes"></p>
    <input type="submit" value="Add">
</form>
    </div>
    <div>
            <table>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    {% for x in authors %}
                    <tr>
                        <th>{{x.id}}</th>
                        <th>{{x.first_name}} {{x.last_name}}</th>
                        <th><a href="authors/{{x.id}}">View</th>
                    </tr>
                    {% endfor %}
    
    
                </table>

    </div>
</body>
</html>