<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books/Authors</title>
    <style>
        div {
            display:inline-block;
            width:40%;
            vertical-align:top;
        }

        </style>
</head>
<body>
    <div>
        <h1>Add a Book</h1>
        <form action="addBook" method="post">
            {% csrf_token %}
            <p>Title: <input type="text" name="title"></p>
            <p>Description: <input type="textarea" name="description"></p>
            <input type="submit" value="Add">
        </form>
    </div>
        <div>
            <table>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
                {% for x in books %}
                <tr>
                    <th>{{x.id}}</th>
                    <th>{{x.title}}</th>
                    <th>{{x.desc}}</th>
                    <th><a href="books/{{x.id}}">View</th>
                </tr>
                {% endfor %}


            </table>
            
        </div>
    
</body>
</html>