<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>{{currentAuthor.first_name}} {{currentAuthor.last_name}}</h1>
        <h2>ID: {{currentAuthor.id}}</h2>
        <p>Notes: {{currentAuthor.notes}}</p>

        <ul>
        {%for x in currentAuthor.book.all %}
        <li>{{x.title}}</li>
        {% endfor %}
        </ul>

        <form action="addBookToAuthor" method="post">
                {% csrf_token %}
                
                <input type="hidden" name="currentAuthor" value="{{currentAuthor.id}}">
                <select name="currentBook">
                    {% for book in books %}
                    <option value="{{book.id}}" >{{book.title}}</option>
                    {% endfor %}
                </select>
    
                <input type="submit" value="add">
        </form>
    </div>
</body>
</html>